@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Montserrat:wght@500;700&family=Raleway:wght@400;700&display=swap');

:root {
	--primary-color: rgb(3, 124, 124);
	--transparent-primary-color: rgba(3, 124, 124, 0.6);
}

body {
	padding: 0px;
	margin: 0px auto;
	max-width: 800px;
	background-color: rgb(212, 212, 212);
	font-family: Raleway;
}

h1,
h2,
h3,
h4,
p {
	padding: 5px 0;
	margin: 0;
}

.section-title {
	padding: 10px 25px;
}

.content-container {
	background-color: white;
	min-height: 100vh;
}

.header-background {
	height: 80px !important;
	background-image: url(../images/landscape-4114839_1920.jpg);
	padding: 120px 20px 0 20px;

	display: flex;
	align-items: center;
	position: sticky;
	top: -60px;
}

.header-background #profile-picture {
	margin-right: 10px;
}

.header-background h1,
.header-background span {
	color: white;
	text-shadow: 0 0 3px #000;
}

.header-background span {
	font-family: "Bilbo";
	font-size: 24px;
}

#profile-picture {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: red;
	overflow: hidden;
	align-self: center
}

#profile-picture img {
	height: 100%;
	margin-left: -25%
}

ul {
	padding: 0;
	margin: 0;
	display: flex;
	list-style: none;
}

ul a {
	padding: 10px;
}

nav {
	align-self: center;
	position: relative;
}

nav a {
	margin: 5px;
}

.button {
	padding: 10px;
	background-color: var(--primary-color);
	color: white;
	border-radius: 3px;
}

.main-menu-button {
	display: none;
	float: right;
}

a.button {
	text-decoration: none;
	display: inline-block;
}

#about-me-section {
	padding: 30px 10px 0px 180px;
}

#skills-section{
	text-align: center;
	background-color: rgb(233, 232, 232);
	padding: 40px 0;
	margin: 40px 0 0 0;
}

#skills-categories{
	display: flex;
}

#skills-categories .category{
	/* background-color: green; */
	display: flex;
	flex-direction: column;
	padding: 0 40px;
	/* justify-content: center; */
}

#skills-categories .category > *{
	align-self: center;
}

.skills {
	/* width: ;
	display: flex;
	flex-wrap: wrap; */
	/* width: 100%; */
}

.skills .skill {
	/* text-align: left; */
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	/* width: 100px;
	margin: 10px 30px 10px 0; */
}

.skills .skill span{
	/* display: inline-block; */
}

.skills .skill span:first-child{
	margin-right: 10px;
	/* background-color: green;
	padding: 5px; */
}


.skills .skill>div {
	border: 1px solid var(--primary-color);
}

.skills .skill>div div {
	background-color: var(--primary-color);
	font-size: 10px;
}

#project-section {
	/* margin-top: 50px; */
	background-image: url(../images/projects/project-one.jpg);
}

#project-section>div {
	background-color: var(--transparent-primary-color);
	background-size: cover;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px 0;
}

#project-section .section-title,
#project-section p {
	color: white;
	padding: 5px 25px;
}

#projects {
	display: flex;
	/* padding: 0 30px; */
	overflow: hidden;
	width: 100%;
}

.project {
	width: calc(33.3% - 20px);
	height: 280px;
	margin: 10px;
	box-shadow: 0 0 3px #000;
	position: relative;
	flex: 0 0 calc(33.3% - 20px);
	/* display: inline-block; */
	/* animation-name: project_description;
	animation-duration: 2s; */
}

.project>div {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
}

.project:nth-child(4) {
	/* animation-name: project_description;
	animation-duration: 2s; */
	opacity: 0;
}

.project>div * {
	background: rgba(255, 255, 255, .6);
	padding: 5px 10px
}

footer {
	height: 450px;
}

@keyframes project_description {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}


#project-detail {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.734);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#project-detail>div {
	align-self: center;
	background-color: white;
	width: 800px;
	height: 600px;
	padding: 10px;
}

#project-detail .close {
	background: none;
	border: none;
	float: right;
}

#project-detail .project-screenshots {
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
}

#project-detail .project-screenshots img {
	margin: 10px;
	width: calc(25% - 20px);
}

#project-detail .project-screenshots img:first-child {
	padding-left: 0px !important;
}

#project-detail .project-screenshots img:first-child {
	padding-right: 0px !important;
}

.donut{
	
}

/* .donut-holder h3{
	float: left;
	margin: 75%;
} */

.donut circle {
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 1s linear;
	stroke: rgb(197, 197, 197);
	stroke-width: 1em;
}

.donut .bar {
	stroke: var(--primary-color);
}

/* #cont {
  display: block;
  height: 100px;
  width: 100px;
  margin: 2em auto;
  box-shadow: 0 0 1em black;
  border-radius: 100%;
  position: relative;
}
#cont:after {
  position: absolute;
  display: block;
  height: 160px;
  width: 160px;
  left: 50%;
  top: 50%;
  box-shadow: inset 0 0 1em black;
  content: attr(data-pct)"%";
  margin-top: -80px;
  margin-left: -80px;
  border-radius: 100%;
  line-height: 160px;
  font-size: 2em;
  text-shadow: 0 0 0.5em black;
} */

@media (max-width: 600px) {

	.header-background {
		/* display: ; */
		/* flex-direction: column; */
		text-align: center;
		padding-top: 80px;
		position: relative;
		height: auto !important;
		background-color: red;
	}
	
	#profile-picture {
		/* flex:0 0 120px; */
	}
	
	#profile-picture img {
		height: 100%;
	}

	.main-menu-button {
		background-color: red;
		position: fixed;
		top: 0;
		left: calc(100vw - 50px);
		/* display: block; */
		z-index: 11;
	}

	nav {
		position: fixed;
		left: calc(100vw - 80vw);
		top: 0;
		display: none;
		width: 80vw;
		height: 100vh;
		background-color: white;
		z-index: 10;
	}

	nav ul {
		display: block;
		margin: 0;
		padding: 10px;
	}

	nav a.button {
		display: block;
	}

	.header-background #profile-picture {
		width: 120px;
		height: 120px;
	}

	.header-background div:last-child {
		display: flex;
	}

	#about-me-section {
		padding: 0px 10px 0;
	}

	#projects {
		overflow: auto;
		z-index: 0 !important;
	}

	.project {
		flex: 0 0 60%;
	}

	.project:nth-child(4) {
		opacity: 1;
	}

	#skills-categories{
		display: block;
	}

	#skills-categories .category{
		flex-direction: row;
		justify-content: space-between;
		border-bottom: 1px solid rgb(177, 177, 177);
		margin: 30px 0;
		padding: 10px;
		padding-bottom: 30px;
	}

	#skills-categories .category:last-child{
		border: none;
	}

	#skills-categories .skills{
		margin-right: 20px;
	}
}